#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

/*Glow effect on hero background*/
#hero .glow {
  height: 10vh;
  width: 0;
  position: absolute;
  top: 100px;
  left: 0;
  border-radius: 10px 10px 100%;
  background: var(--secondary);
  filter: blur(80px);
  transition: all 2s ease-in-out;
}

#hero .glow.show {
  transform: rotate(45deg);
  width: 45vw;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.hero .container .texts {
  display: flex;
  flex-direction: column;
}

.hero .status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: 1.271rem;
  background: var(--primary);
  border: 1px solid var(--border);
}

.hero .name,
.hero .profession {
  font-size: clamp(12px, 8vw, 45px);
  font-weight: 700;
}

.hero .intro {
  background: var(--textGradient);
  background-clip: text;
  color: transparent;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin-inline: auto;
}

.hero .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
  opacity: 0;
  transform: translateY(0.625rem);
  scale: 0.99;
  transition: all 0.7s ease-in-out;
}

.buttons.show {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.buttons a {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
  background: var(--secondary);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 1.271rem;
  transition: all 0.3s ease-in-out;
}

.buttons a:hover {
  opacity: 0.7;
}

.buttons i {
  font-size: 1.25rem;
}

/*
@media (max-width: 29.375rem) {
  #hero {
    height: 96vh;
  }
  .hero .name,
  .hero .profession {
    font-size: 1.75rem;
    line-height: 1.4375rem;
  }
  .hero .container,
  .hero .container .texts {
    gap: 0.75rem;
  }
  .hero .status,
  .container .intro,
  .buttons a {
    font-size: 0.75rem;
  }
  #hero .glow.show {
    width: 100vw;
  }
}

@media (min-width: 29.5rem) and (max-width: 40.625rem) {
  .hero .name,
  .hero .profession {
    font-size: 2.5rem;
    line-height: 1.90625rem;
  }
  .hero .container,
  .container .texts {
    gap: 1rem;
  }
  .hero .status,
  .container .intro,
  .buttons a {
    font-size: 0.8125rem;
  }
  #hero .glow.show {
    width: 100vw;
  }
}

@media (min-width: 40.6875rem) and (max-width: 62.5rem) {
  .hero .name,
  .hero .profession {
    font-size: 3.125rem;
    line-height: 2.3875rem;
  }
  .hero .container,
  .hero .container .texts {
    gap: 1.3rem;
  }
  .hero .status,
  .container .intro {
    font-size: 0.875rem;
  }
  #hero .glow.show {
    width: 70vw;
  }
}
